form {
  margin: 2rem;
  max-width: 100%;
  overflow-x: auto;
}

table {
  text-align: center;
  margin-right: .1rem;
  table-layout: fixed;
  width: calc(100% - .1rem);
}

input {
  border: none;
  text-align: center;
  max-width: inherit;
  max-width: 5rem;
}

input:hover:not(:disabled),
select:hover:not(:disabled),
textarea:hover:not(:disabled) {
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

textarea {
  border: none;
  resize: none;
}

select:disabled {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.form-control:disabled {
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 991px) {
  table {
    width: max-content;
  }
}
