<form [formGroup]="invoiceForm">
  <table>
    <thead>
      <th>ردیف</th>
      <th>عنوان</th>
      <th>تعداد</th>
      <th>قیمت واحد (بدون تخفیف)</th>
      <th>درصد تخفیف</th>
      <th>قیمت واحد (با تخفیف)</th>
      <th>سرجمع (بدون تخفیف)</th>
      <th>سرجمع (با تخفیف)</th>
      <th>سود مشتری از تخفیف واحد</th>
      <th>سود مشتری از کل تخفیف</th>
    </thead>
    <tbody formArrayName="rows">
      <tr *ngFor="let item of invoiceItems.controls; let i = index" formGroupName="{{ i }}">
        <td>{{i + 1}}</td>
        <td><input [formControl]="item.getControl('productId')"></td>
        <td><input [formControl]="item.getControl('quantity')"></td>
        <td><input [formControl]="item.getControl('productUnitPrice')"></td>
        <td><input [formControl]="item.getControl('discountPercentage')"></td>
        <ng-container *ngIf="getDetail(item) as detail">
          <td>{{detail.discountedUnitPrice}}</td>
          <td>{{detail.totalPrice}}</td>
          <td>{{detail.totalDiscountedPrice}}</td>
          <td>{{detail.unitDiscountAmount}}</td>
          <td>{{detail.totalDiscountAmount}}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>
  <p>{{invoiceForm.getRawValue() | json}}</p>
</form>
