:root {
  direction: rtl;
}

body {
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  min-width: 7rem;
}

i.icon {
  cursor: pointer;
  font-size: x-large;
  margin: 0 .5rem;
}
