<form [formGroup]="form" (ngSubmit)="save()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="title">عنوان</label>
      <input type="text" class="form-control" id="title" formControlName="title">
    </div>
    <div class="form-group col-md-6">
      <label for="unitPrice">قیمت واحد</label>
      <input type="number" min="1" class="form-control" id="unitPrice" formControlName="unitPrice">
    </div>
  </div>
  <div class="row justify-content-end">
    <button type="submit" class="btn btn-primary ml-3 mb-3" [disabled]="form.invalid">ذخیره</button>
  </div>
</form>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products && products.length">
  <thead>
    <th class="border-right">عنوان</th>
    <th>قیمت واحد</th>
    <th class="border-left"></th>
  </thead>
  <tbody>
    <tr *ngFor="let item of products">
      <td class="border-right">{{item.title}}</td>
      <td>{{item.unitPrice}}</td>
      <td class="border-left">
        <div class="row">
          <i class="bi-pencil-square display-4 icon ml-3" (click)="edit(item)"></i>
          <i class="bi-trash display-4 icon" (click)="del(item.id)"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>
