<form [formGroup]="form" (ngSubmit)="save()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="title">عنوان</label>
      <input type="text" class="form-control" id="title" formControlName="title">
    </div>
    <div class="form-group col-md-6">
      <label for="unitPrice">قیمت واحد</label>
      <input type="number" min="1" class="form-control" id="unitPrice" formControlName="unitPrice">
    </div>
  </div>
  <div class="row justify-content-end">
    <button type="submit" class="btn btn-primary ml-3 mb-3" [disabled]="form.invalid">ذخیره</button>
  </div>
</form>

<table class='table border table-striped' aria-labelledby="tableLabel" *ngIf="products && products.length">
  <thead>
    <th>ردیف</th>
    <th>عنوان</th>
    <th>قیمت واحد</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let item of products | slice: (page-1) * pageSize : page * pageSize, let i = index">
      <td>{{i + 1}}</td>
      <td>{{item.title}}</td>
      <td>{{item.unitPrice}}</td>
      <td>
        <div class="row justify-content-center">
          <i class="bi-pencil-square icon" (click)="edit(item)" title="ویرایش کالا"></i>
          <i class="bi-trash icon" (click)="del(item.id)" title="حذف کالا"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize"
  [collectionSize]="products.length"></ngb-pagination>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
