<table class='table border table-striped' aria-labelledby="tableLabel">
  <thead>
    <th>ردیف</th>
    <th>شماره</th>
    <th colspan="2">نام کاربر</th>
    <th>تاریخ</th>
    <th>
      <p class="d-flex justify-content-center mb-0">
        <i class="bi-plus-square-fill icon text-primary" (click)="add()"></i>
      </p>
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let item of invoices | slice: (page-1) * pageSize : page * pageSize; let i = index">
      <td> {{i + 1}}</td>
      <td>{{item.id}}</td>
      <td colspan="2">{{item.userFullName}}</td>
      <td>{{item.createdOnUtc | persianDate: 'dateOnly'}}</td>
      <td>
        <div class="row container-sm justify-content-center">
          <i class="bi-binoculars icon" (click)="view(item)"></i>
          <i class="bi-pencil-square icon" (click)="edit(item)"></i>
          <i class="bi-trash icon" (click)="del(item.id)"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize"
  [collectionSize]="invoices.length"></ngb-pagination>
