<h1>به نام خدا</h1>
<p>آزمون گزینش استخدامی شرکت تدبیرپرداز</p>
<p>راهنمای نرم افزار</p>
<ul>
  <li>برای مشاهده قسمت های مدیریت کالا و مدیریت فاکتور از منوی بالای صفحه اقدام نمایید.</li>
  <li>در بخش کالا فرم بالای صفحه جهت افزودن و ویرایش کالا استفاده می شود.</li>
  <li>در بخش های مختلف در صورت وجود خطای اعتبارسنجی فرم، دکمه ها غیر فعال هستند.</li>
  <li>در بخش فاکتور برای افزودن فاکتور جدید روی <i class="bi-plus-square-fill text-primary"></i> بالای جدول کلیک نمایید.
  </li>
  <li>در فرم ویرایش فاکتور، برای افزودن ردیف جدید کالا روی دکمه <i class="bi-plus-square text-dark"></i> در قسمت ردیف
    کلیک کنید.</li>
  <li>برای حذف ردیف، نشانگر ماوس را روی شماره ردیف برده و روی سطل زباله قرمز رنگ <i class="bi-trash text-danger"></i>
    ظاهر شده کلیک کنید.</li>
</ul>
<p><i class="bi-info-circle text-info"></i> به فاکتورهای جدید تا قبل از ذخیره روی دیتابیس شماره ای اختصاص داده نمی شود.
</p>
